<div class="conatiner foot1"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 footLeft">
      <p class="footer">REAQA Derechos Reservados</p>
   
    </div>
    <div class="col-sm-6 footCenter"></div>
    <div class="col-sm-3 footRight">
        <button type="button" class="btn btn-secondary btn-fb"><i class="fa fa-facebook"></i></button>
        <button type="button" class="btn btn-primary btn-tw"><i class="fa fa-twitter"></i></button>
        <button type="button" class="btn btn-secondary btn-gplus"><i class="fa fa-google-plus"></i></button>
        <button type="button" class="btn btn-primary btn-ins"><i class="fa fa-instagram"></i></button>
          </div>
  </div>
</div>