.cuadro {
    color: antiquewhite;
    text-align: center;
    margin-top: 0; 
    font-size: 2vw;
}

.cuadro1 {
    color: antiquewhite;
    position: relative;
    border: solid white 2px;
    top: 0;
    display: inline-block;
    background-color: rgb(158, 127, 87);
    padding:.2vw .5vw;

       
}

.jug1 {
    position: relative;
    height: 6vw;
    border: solid antiquewhite 5px;
    top:0;
    left: 0;
 
}

p {
    font-size: 1vw;
}

.juga1 {
    display: inline-block;
    vertical-align: top;
    margin: 1vw .5vw;
    height: 6vw;

}

.juga2 {
color: antiquewhite;
display: inline-block;
height: 6vw;
font-size: 1vw;
margin: 1vw .5vw;

}

.juga3 {
    color: antiquewhite;
}