<div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <h1 class="cuadro">JUGADORES DELOS JARDINES</h1>
          
      </div>
      <div class="col-sm-2"></div>
  
    </div>
  </div>
   <div class="container">
    <div class="row">
      <!-- <div class="col-sm-1"></div> -->
       <div class="col-sm-12 "> 
          <div class="juga1">     
              <a href="#"><img src="./assets/GerardoP.jpg" alt="GParra" class="jug1"></a>
              </div>
              <div class="juga2">
                <div> <a href="#" class="juga3"> Gerardo Parra </a></div>
                <div>Jardin Izquierdo</div>
                <div>Rockies</div>
      
              </div>
          <div class="juga1">     
              <a href="#"><img src="./assets/CarlosG.jpg" alt="CGonzalez" class="jug1"></a>
              </div>
              <div class="juga2">
                <div> <a href="#" class="juga3"> Carlos González </a></div>
                <div>Jardin Derecho</div>
                <div>Rockies</div>
      
              </div>
        
  
  
  
    </div>
  
    </div>  
    </div> -->
  
  