<div class="container1">
    <div class="dos">PITCHERS</div>
  
  </div>
  
<div class="container2">
    <div class="datosJugadores" *ngFor="let player of players">
        <img src="./assets/MiguelC.jpg" alt="MCabrera" class="jug1">
        <div class="container4">
          <div class="datosJugadores2"> <span class="datos-jugad-title"> Nombre: </span> {{player.name}}</div>
          <div class="datosJugadores2"><span class="datos-jugad-title">Apellido:</span> {{player.lastname}}</div>
          <div class="datosJugadores2"><span class="datos-jugad-title">Veces al bate: </span>{{player.INNPte}}</div>
          <div class="datosJugadores2"><span class="datos-jugad-title">Hits: </span>{{player.hitsPermte}}</div>
          <div class="datosJugadores2"><span class="datos-jugad-title">CLimp: </span>{{player.CLIMPte}}</div>
        </div>
  
    </div>
  </div>
  