<div class="container form-control form-control-sm letr3 PBA">
    <h6 class="text-center bg-dark text-white letr2" style="padding-bottom:5px;">LISTAR</h6>
    <div class="card ">
      <div class="card-body letr5">
        <h6 class="text-center bg-dark text-white" style="padding-bottom:5px;">Lista de Jugadores</h6>
        <table class="table table-sm table-hover">
          <tbody>
            <tr class="text-center">
              <th>Nombre</th>
              <th>Apellido</th>
              <th>VB</th>
              <th>CA</th>
              <th>H</th>
              <th>CE</th>
              <th>BR</th>
              <th>Hr</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </tbody>
  
          <tbody>
  
            <tr *ngFor="let player of players" class="text-center">
              <th>{{player.name}}</th>
              <th>{{player.lastname}}</th>
              <th>{{player.VB}}</th>
              <th>{{player.CA}}</th>
              <th>{{player.hits}}</th>
              <th>{{player.CE}}</th>
              <th>{{player.BR}}</th>
              <th>{{player.HR}}</th>
              <th class="text-center">
                <i (click)="editPlayer($event, player)" class="far fa-edit "></i>
              </th>
              <th class="text-center">
                <i class="far fa-trash-alt text-align:center" (dblclick)="deletePlayer($event, player)"></i>
              </th>
              <th class="text-center">
                <i *ngIf="editState && playerToEdit.id == player.id" (click)="clearState()" class="fas fa-user-edit text-align:center"></i>
              </th>
            </tr>
          </tbody>
  
        </table>
  
  
            <div *ngFor="let player of players" class="text-center inline ">
              <div *ngIf="editState && playerToEdit.id == player.id">
                <form class="my-5 form-control" (ngSubmit)="updatePlayer(player)">.
                  <!-- <div class="container  ">
                        <div class="row " >-->
                  <!-- <div class="col-md-12" >  -->
                  <!-- <div class="container  "> -->
                  <h4 class="text-center bg-dark text-white  ">EDITAR </h4>
                  <ng-container >
                    <input type="text" class="mb-2 m-3" id="inputname" placeholder="NAME" name="inputname" [(ngModel)]="player.name">
                    <input type="text" class="mb-2 m-3" id="inputLname" placeholder="LASTNAME" name="inputLname" [(ngModel)]="player.lastname">
                    <input type="number" class="mb-2 m-3" id="inputVBate" placeholder="VB" name="VB" [(ngModel)]="player.VB">
                    <input type="number" class="mb-2 m-3" id="inputCA" placeholder="CA" name="CA" [(ngModel)]="player.CA">
                    <input type="number" class="mb-2 m-3" id="inputhits" placeholder="HITS" name="hits" [(ngModel)]="player.hits">
                    <input type="number" class="mb-2 m-3" id="inputCE" placeholder="CE" name="CE" [(ngModel)]="player.CE">
                    <input type="number" class="mb-2 m-3" id="inputBR" placeholder="BR" name="BR" [(ngModel)]="player.BR">
                    <input type="number" class="mb-2 m-3" id="inputHR" placeholder="HR" name="HR" [(ngModel)]="player.HR">
                  </ng-container>
  
                  <!-- </div> -->
                  <!-- </div>
                        </div> -->
                  <!-- </div> -->
  
                </form>
                <input type="submit" value="Update Item" class="btn orange ">
  
              </div>
  
            </div>
  
        
  
      </div>
  
    </div>
  </div>