 <!--<div class="inner">
  <h1 class="logo"><a href="#">Vinotintos</a></h1>
  <nav class="navbar navbar collapse">
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Cuadro</a></li>
      <li><a href="#">Jardines</a></li>
      <li class="pit"><a href="#">Pitchers</a></li>
    </ul>
  </nav>
</div> -->
<div class="container box1"></div>

<div class="container ">
  <div class="row">
  <!-- <div class="col-xs-1 col-lg-1 menu5"></div> -->
  <div class="col-xs-12 col-lg-12">
      <nav class="navbar-nav ">
          <div class="container-fluid">
            <div class=" navbar-header ">
              <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              <!-- <a class="navbar-brand" href="#" class="menu1">WebSiteName</a> -->
            </div>
            <div class="navbar collapse navbar-collapse menu2" id="myNavbar">
              <ul class="navbar nav-inverse navbar-nav navbar-inverse menu3">
                <li class="active"><a routerLink="home" class="menu1">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle menu1" data-toggle="dropdown" href="#" >Actuación <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="cuadro" class="menu2">Cuadro</a></li>
                    <li><a routerLink="jardines" class="menu2">Jardines</a></li>
                    <li><a routerLink="pitchers" class="menu2">Pitchers</a></li>
                  </ul>
                </li>
                <li><a href="#" class="menu1">Noticias</a></li>
                <li><a routerLink="nosotros" class="menu1">Nosotros</a></li>
                <li><a routerLink="registrese" class="menu1"><span class="glyphicon glyphicon-user"></span> Registrese</a></li>
                <li><a routerLink="ingresar" class="menu1"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>

              </ul>
            </div>
          </div>
        </nav>
  </div>
  <!-- <div class="col-xs-1 col-lg-1  "></div> -->

    
    
  </div>
</div>



