.box1 {
    height: 4.6vw;
}
.menu1 {
    list-style: none;
    color: antiquewhite;
    font-size: 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1vw;
   
    
   
}

.menu2 {
    /* margin-right: 40vw; */
    color: black;
    width: 100%;
    }

    .menu3 {
        list-style: none;
        padding: .75vw;
        font-size: 1vw;
      
        
    }
    .menu5 {

    }

   
