<div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h1 class="cuadro">JUGADORES DEL CUADRO</h1>
  
      </div>
      <div class="col-sm-2"></div>
  
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-1"></div> -->
      <div class="col-sm-12 ">
        <div class="juga1">
          <a href="#">
            <img src="./assets/MiguelC.jpg" alt="MCabrera" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Miguel Cabrera </a>
          </div>
          <div>1ra Base</div>
          <div>Tigers</div>
  
        </div>
        <!-- <div class="juga1">
          <a href="#">
            <img src="./assets/VictorM.jpg" alt="VMartinez" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Victor Martínez </a>
          </div>
          <div>1ra Base</div>
          <div>Tigers</div>
  
        </div>
        <div class="juga1">
          <a href="#">
            <img src="./assets/GleyberT.jpg" alt="Gleyber" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Gleyber Torres</a>
          </div>
          <div>Yankees</div>
          <div>2da Base</div>
        </div>
  
        <div class="juga1">
          <button class="btn btn-primary-outline " data-toggle="modal" data-target="#myModal">
            <img src="./assets/JoseA.jpg" alt="Altuve" class="jug1">
          </button>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Jose Altuve </a>
          </div>
          <div>2da Base</div>
          <div>Astros</div>
        </div>
        <div class="juga1">
            <a href="#">
              <img src="./assets/OdorR.jpg" alt="Odor" class="jug1">
            </a>
            
          </div>
          <div class="juga2">
              <div>
                <a href="#" class="juga3">Rogned Odor</a>
              </div>
              <div>Rangers</div>
              <div>2da Base</div>
            </div> -->
        <!--<div class="juga1">
          <a href="#">
            <img src="./assets/MiguelC.jpg" alt="MCabrera" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Miguel Cabrera </a>
          </div>
          <div>1ra Base</div>
          <div>Tigers</div>
  
        </div>
        <div class="juga1">
          <a href="#">
            <img src="./assets/VictorM.jpg" alt="VMartinez" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Victor Martínez </a>
          </div>
          <div>1ra Base</div>
          <div>Tigers</div>
  
        </div>
        <div class="juga1">
          <a href="#">
            <img src="./assets/GleyberT.jpg" alt="Gleyber" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Gleyber Torres</a>
          </div>
          <div>Yankees</div>
          <div>2da Base</div>
        </div>
  
        <div class="juga1">
          <button class="btn btn-primary-outline " data-toggle="modal" data-target="#myModal">
            <img src="./assets/JoseA.jpg" alt="Altuve" class="jug1">
          </button>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Jose Altuve </a>
          </div>
          <div>2da Base</div>
          <div>Astros</div>
        </div>
        <div class="juga1">
            <a href="#">
              <img src="./assets/OdorR.jpg" alt="Odor" class="jug1">
            </a>
            
          </div>
          <div class="juga2">
              <div>
                <a href="#" class="juga3">Rogned Odor</a>
              </div>
              <div>Rangers</div>
              <div>2da Base</div>
            </div>
        <div class="juga1">
          <a href="#">
            <img src="./assets/MiguelC.jpg" alt="MCabrera" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Miguel Cabrera </a>
          </div>
          <div>1ra Base</div>
          <div>Tigers</div>
  
        </div>
        <div class="juga1">
          <a href="#">
            <img src="./assets/VictorM.jpg" alt="VMartinez" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Victor Martínez </a>
          </div>
          <div>1ra Base</div>
          <div>Tigers</div>
  
        </div>
        <div class="juga1">
          <a href="#">
            <img src="./assets/GleyberT.jpg" alt="Gleyber" class="jug1">
          </a>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Gleyber Torres</a>
          </div>
          <div>Yankees</div>
          <div>2da Base</div>
        </div>
  
        <div class="juga1">
          <button class="btn btn-primary-outline " data-toggle="modal" data-target="#myModal">
            <img src="./assets/JoseA.jpg" alt="Altuve" class="jug1">
          </button>
        </div>
        <div class="juga2">
          <div>
            <a href="#" class="juga3"> Jose Altuve </a>
          </div>
          <div>2da Base</div>
          <div>Astros</div>
        </div>
        <div class="juga1">
            <a href="#">
              <img src="./assets/OdorR.jpg" alt="Odor" class="jug1">
            </a>
            
          </div>
          <div class="juga2">
              <div>
                <a href="#" class="juga3">Rogned Odor</a>
              </div>
              <div>Rangers</div>
              <div>2da Base</div>
            </div>-->
  
  
  
  
      </div>
  
    </div>
  </div>
  
  
  <!-- Modal Altuve -->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"> -->
        <!--<div class="container tres ">-->
        <!-- container externo-->
        <!-- <div class="row ">
          <div class="col-sm-2 jug12">
            <img src="./assets/JoseA.jpg" alt="Altuve" class="jug11"> -->
            <!-- <div class="modal-header">
          
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <img src="./assets/JoseA.jpg" alt="Altuve" class="jug11">
          
                      </div>-->
          <!-- </div>
          <div class="col-sm-4">
            <div class="modal-body btn btn-primary">
              <button class="btn btn-warning">
                <h1 class="modal-title" id="myModalLabel">Jose Altuve</h1>
              </button>
              <h4 class="modal1">Astros de Houston</h4>
              <h4 class="modal2">Segunda Base</h4>
              <h4 class="modal1">Batea: Derecho</h4>
              <h4 class="modal2">Lanza: Derecho</h4>
              <h4 class="modal1">L. Nacimiento: Caracas</h4>
            </div>
          </div>
          <div class="col-sm-6  numbers">
            <h2>Día de hoy</h2>
            <ng-container >
              <div class="row ngcont">
                <div class="col-sm-2">
                  <h4 class="modal3">VB</h4>
                </div>
                <div class="col-sm-2">
                  <h4 class="modal3">C.A.</h4>
                </div>
                <div class="col-sm-2">
                  <h4 class="modal3">Hits</h4>
                </div>
                <div class="col-sm-2">
                  <h4 class="modal3">C.I.</h4>
                </div>
                <div class="col-sm-2">
                  <h4 class="modal3">Avg</h4>
                </div>
                <div class="col-sm-2">
                  <h4 class="modal3">B.R.</h4>
                </div>
  
              </div>
            </ng-container>
            <ng-container >
                <div class="row">
                  <div class="col-sm-2">
                    <h4 class="modal6">04</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal6">02</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal6">04</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal6">03</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal6">335</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal6">00</h4>
                  </div>
    
                </div>
              </ng-container>
              <div class="container"></div>
              <h2>Temporada</h2>
              <ng-container >
                <div class="row ngcont">
                  <div class="col-sm-2">
                    <h4 class="modal3">VB</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal3">C.A.</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal3">Hits</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal3">C.I.</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal3">Avg</h4>
                  </div>
                  <div class="col-sm-2">
                    <h4 class="modal3">B.R.</h4>
                  </div>
    
                </div>
              </ng-container>
              <ng-container >
                  <div class="row">
                    <div class="col-sm-2">
                      <h4 class="modal6">125</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4 class="modal6">35</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4 class="modal6">72</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4 class="modal6">40</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4 class="modal6">335</h4>
                    </div>
                    <div class="col-sm-2">
                      <h4 class="modal6">10</h4>
                    </div>
      
                  </div>
                </ng-container>
          </div> -->
          <!--</div>-->
        <!-- </div>
      </div>
    </div>
  </div>
  
   -->
  
  
  
  
  
  <!-- <div class="col-sm-4  numbers">
          <div class="container">
            <!-- container interno 
            <div class="row ">
              <div class="col-xs-6">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-2">
                      <h4 class="modal3">VB</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4 class="modal3">C.A.</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4 class="modal3">Hits</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4 class="modal3">C.I.</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4 class="modal3">Avg</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4 class="modal3">B.R.</h4>
                    </div>
                  </div>
                </div>
              </div>
  
              <!--<div class="col-xs-6">
                <div class="container modal4">
                  <div class="row">
                    <div class="col-xs-2">
                      <h4>04</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4>01</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4>02</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4>02</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4>332</h4>
                    </div>
                    <div class="col-xs-2">
                      <h4> 01</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container modal5">
                <button class="btn btn-primary">
                  <h2>Lunes 04 de Junio de 2.018</h2>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div> -->