
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    /* background-color: rgba(240, 231, 229, 0.7); */
    height: 700px;
    width: 1200px;
    justify-content:center;
    margin: auto;
    color: antiquewhite;
    font-size: 1.6rem;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
  }
  .form-control {
    width: 300px;
  }

  .card {
    background-color: rgba(177, 167, 167, 0.5);
    color: rgb(250, 235, 215);
    text-shadow: -1px -1px 4px #000;
    font-size: 1.6rem;
    width: 400px;
    height: 200px;
    text-align: center;
    /* padding-top: 30%; */
    border-radius: 15px;  
      }

.form-control {
    margin: auto;
    border-radius: 5px; 
     text-shadow: -1px -1px 4px #000;
      }

      h1 {
        font-size: 3rem;
        margin-left: 120px;

      }

      .btn {
        width: 20%;
      }